@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(207, 225, 225);
}
body , html{
  overflow-x: hidden !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bs1{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.ant-row{
  margin: 0 20 !important;
}
.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
}
h1{
  font-size: 30px;
  font-weight: bold;
  color : slateblue;
}
p{
  margin: 5px !important;
  
  padding: 0;
}
.btn1{
  box-shadow: none !important;
  background-color : white !important;
  color: slateblue !important;
  border: 1px solid slateblue !important;
  padding: 5px 15px !important;
  outline: none !important;
}
.bt1:focus{
  border: none;
}
button{
  padding: 3px 10px !important;
}
.header{
  padding: 10px;
  
}
.header .ant-btn{
  box-shadow: none !important;
  background-color : white !important;
  color: slateblue !important;
  border: 1px solid slateblue !important;
  padding: 5px 15px !important;
  outline: none !important;
}
.content{
  min-height: 90vh;
  
}
.footer{
  background-color: aliceblue;
  padding: 10px;
}


/* this is just for ui purpose , no functionality is related */
.car{
  border-radius: 5px;
  margin-top: 100px;
  height: 160px;
  transition: 0.3s;
}
.car:hover{
  height :220px;
}
.car:hover > .car-content{

    opacity: 1;
    transform : translateY(-40px)

}
.carimg{
  height:180px;
  width: auto;
  border-radius: 5px;
  transform: translateY(-50px);
}
.car-content{
  transform: translateY(-200px);
  opacity: 0;
  transition: 0.3s;
}
.login{
  background-color: black;
  padding-top: 50px;
  min-height: 100vh;
}
.login label , .login h1{
  color: white !important;
  opacity: 0.6;
}
.login-form{
  background-color: #1F1F1F;
}
.login-form input{
  background-color: #333333 !important;
  border : none !important;
  color: white;
  opacity: 0.5;
}
.login-logo{
  position: absolute;
  left:0;
  right:0;
  top: 60%;
  bottom: 50%;
  transform: translateY(-50% , -50%);
  font-size:45px;
  opacity: 0.2 !important;
  

}
.login a{
  color: white !important;
  opacity: 0.5;
}

.carimg2{
  height: 400px;
  border-radius: 10px;
  width: auto;
}

svg{
  height:20px !important;
  width : 20px !important;
}
a{
  color: slateblue !important;
}